/node_modules
/bower_components
/dist
/tooling/node_modules

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

# Ignore the secrets files
/config/secrets.yml
